﻿@{
    ViewBag.Title = "Beneficios del Miembro";
    Layout = "~/Views/Shared/_Layout_Cuenta.cshtml";
}

<h1 class="mt-4 mb-3" style="color: #ED7D31;"></h1>

<!-- Content Row -->
<div>
    <h1 class="my-4" style="text-align: center; color: #ED7D31">BENEFICIOS</h1>
    <img src="~/Content/pictures/benefits.png" height="900px">
</div>


<div>
    <img class="img-fluid rounded mb-4" src="~/Content/pictures/exclusive.png" height="250px">
    <div>
        <a class="btn btn-lg btn-light btn-block" href="@Url.Action("Index", "Account")" style="background-color: black; color: #ED7D31;border-color: black">Cerrar</a>
    </div>
</div>

