﻿@{
    ViewBag.Title = "Mi Cuenta";
    Layout = "~/Views/Shared/_Layout_Cuenta.cshtml";
}

<h1 class="mt-4 mb-3"></h1>
<!--<img class="img-fluid rounded mb-4" src="pictures/bienvenido1.png" alt="">-->
<div class="row">
    <div class="col-lg-3 mb-4" style="background-color: #121111">
        <ul class="list-group list-group-flush">
            <li class="list-group-item" style="background-color: #121111;">
                <div class="rounded mx-auto d-block" alt="..." style="width: 100px; height: 100px;">
                    <a href="@Url.Action("Code", "Account")"><img class="card-img-top" src="~/Content/pictures/cineclub.png" alt=""> </a>
                </div>
            </li>
            <li class="list-group-item" style="background-color: #121111;" href="logg.html">
                <a href="@Url.Action("Index", "Account")" class="btn btn-link btn-lg btn-block" role="button" aria-disabled="false" style="color: #121111">
                    <div class="input-group-prepend">
                        <span class="img" id="imagen">
                            <img src="~/Content/pictures/home.png" width="30" height="30">
                            <label style="color: #ED7D31">Mi Cuenta</label>
                        </span>
                    </div>
                </a>
            </li>
            <li class="list-group-item" style="background-color: #121111;" href="logg.html">
                <a href="@Url.Action("Edit","Account")" class="btn btn-link btn-lg btn-block" role="button" aria-disabled="false" style="color: #121111">
                    <div class="input-group-prepend">
                        <span class="img" id="imagen">
                            <img src="~/Content/pictures/edit.png" width="30" height="35">
                            <label style="color: #ED7D31">Editar Perfil</label>
                        </span>
                    </div>
                </a>
            </li>
            <li class="list-group-item" style="background-color: #121111;" href="logg.html">
                <a href="@Url.Action("Subscriptions","Account")" class="btn btn-link btn-lg btn-block" role="button" aria-disabled="false" style="color: #121111">
                    <div class="input-group-prepend">
                        <span class="img" id="imagen">
                            <img src="~/Content/pictures/card2.png" width="30" height="15">
                            <label style="color: #ED7D31">Suscripciones</label>
                        </span>
                    </div>
                </a>
            </li>
        </ul>
    </div>
    <div class="col-lg-9 mb-4" style="background-color: #F2F1F1">
        <div class="col-md-12" style="background-color: #F2F1F1">
            <h2 class="mt-4 mb-3" style="text-align:center">¡Lleva tu membresía a todas partes!</h2>
            <h5>¡Ten acceso a tus promociones desde tu propio celular cargando este código QR en nuestra página web!</h5>
            <div class="card mb-4" >
                <div style="background-color: white;border-color: white;  text-align: center;">
                    <img class="img-fluid" src="~/Content/pictures/codigo-qr.jpg" width="250" height="250" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
