﻿@model Membresia_ASP.Models.miembro
@{
    ViewBag.Title = "Editar Perfil";
    Layout = "~/Views/Shared/_Layout_Cuenta.cshtml";
}

<h1 class="mt-4 mb-3"></h1>
<!--<img class="img-fluid rounded mb-4" src="pictures/bienvenido1.png" alt="">-->
@using (Html.BeginForm("Edit", "Account", FormMethod.Post, new { id = "FromularioRegistro" }))
{

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="row">
        <div class="col-lg-3 mb-4" style="background-color: #121111">
            <ul class="list-group list-group-flush">
                <li class="list-group-item" style="background-color: #121111;">
                    <div class="rounded mx-auto d-block" alt="..." style="width: 100px; height: 100px;">
                        <a href="@Url.Action("Code", "Account")"><img class="card-img-top" src="~/Content/pictures/cineclub.png" alt=""></a>
                    </div>
                </li>
                <li class="list-group-item" style="background-color: #121111;" href="logg.html">
                    <a href="@Url.Action("Index", "Account")" class="btn btn-link btn-lg btn-block" role="button" aria-disabled="false" style="color: #121111">
                        <div class="input-group-prepend">
                            <span class="img" id="imagen">
                                <img src="~/Content/pictures/home.png" width="30" height="30">
                                <label style="color: #ED7D31">Mi Cuenta</label>
                            </span>
                        </div>
                    </a>
                </li>
                <li class="list-group-item" style="background-color: #121111;" href="logg.html">
                    <a href="@Url.Action("Edit", "Account")" class="btn btn-link btn-lg btn-block" role="button" aria-disabled="false" style="color: #121111">
                        <div class="input-group-prepend">
                            <span class="img" id="imagen">
                                <img src="~/Content/pictures/edit.png" width="30" height="35">
                                <label style="color: #ED7D31">Editar Perfil</label>
                            </span>
                        </div>
                    </a>
                </li>
                <li class="list-group-item" style="background-color: #121111;" href="logg.html">
                    <a href="@Url.Action("Subscriptions", "Account")" class="btn btn-link btn-lg btn-block" role="button" aria-disabled="false" style="color: #121111">
                        <div class="input-group-prepend">
                            <span class="img" id="imagen">
                                <img src="~/Content/pictures/card2.png" width="30" height="15">
                                <label style="color: #ED7D31">Suscripciones</label>
                            </span>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-lg-9 mb-4" style="background-color: #F2F1F1">
            <h1 class="mt-4 mb-3"> Suscripciones</h1>
            <div class="col-md-12" style="background-color: #F2F1F1">
                <h1 class="mt-4 mb-3"></h1>
                <div class="card mb-4" style="background-color: white;border-color: white">
                    <div class="card-body" style="background-color: white">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <h5>Datos Personales</h5>
                            </li>
                            <li class="list-group-item">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="img" id="imagen">
                                            <img src="~/Content/pictures/user.png" width="35" height="35">
                                        </span>
                                    </div>
                                    @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nombre" } })
                                    <div class="col-lg-12">@Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })</div>
                                </div>
                                <p></p>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="img" id="imagen">
                                            <img src="~/Content/pictures/user.png" width="35" height="35">
                                        </span>
                                    </div>
                                    @Html.EditorFor(model => model.apaterno, new { htmlAttributes = new { @class = "form-control", @placeholder = "Apellido Paterno" } })

                                    @Html.EditorFor(model => model.amaterno, new { htmlAttributes = new { @class = "form-control", @placeholder = "Apellido Materno" } })

                                    <div class="col-12">
                                        @Html.ValidationMessageFor(model => model.apaterno, "", new { @class = "text-danger" })
                                        @Html.ValidationMessageFor(model => model.amaterno, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <p></p>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="img" id="imagen">
                                            <img src="~/Content/pictures/gener.png" width="35" height="35">
                                        </span>
                                    </div>
                                    <select class="custom-select"  id="genero" name="genero">
                                        <option value="No Especificado" selected>Genero</option>
                                        <option value="Femenino">Femenino</option>
                                        <option value="Masculino">Masculino</option>
                                    </select>
                                    <div class="col-12">
                                        @Html.ValidationMessageFor(model => model.genero, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <p></p>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="img" id="imagen" type="date">
                                            <img src="~/Content/pictures/cumple.png" width="35" height="35" type="date">
                                        </span>
                                        @Html.DisplayFor(model => model.fecha_nacimiento,
                            new { htmlAttributes = new { @id = "fecha_nacimiento" } })
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <p></p>
                                <p></p>
                            </li>
                            <li class="list-group-item">
                                <h5>Informacion de Contacto</h5>
                            </li>
                            <li class="list-group-item">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="img" id="imagen">
                                            <img src="~/Content/pictures/telfono.png" width="35" height="35">
                                        </span>
                                    </div>
                                    @Html.EditorFor(model => model.telefono, new { htmlAttributes = new { @class = "form-control", @placeholder = "Teléfono" } })
                                    <div class="col-12">@Html.ValidationMessageFor(model => model.telefono, "", new { @class = "text-danger" })</div>
                                </div>
                                <p></p>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="img" id="imagen">
                                            <img src="~/Content/pictures/gmail.png" width="45" height="35">
                                        </span>
                                    </div>
                                    @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Correo" } })
                                    <div class="col-12">@Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })</div>
                                </div>
                                <p></p>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="img" id="imagen">
                                            <img src="~/Content/pictures/pass.png" width="35" height="35">
                                        </span>
                                    </div>
                                    @Html.EditorFor(model => model.contraseña, new { htmlAttributes = new { @type = "password", @class = "form-control", @placeholder = "Contraseña" } })
                                    <div class="col-12">@Html.ValidationMessageFor(model => model.contraseña, "", new { @class = "text-danger" })</div>
                                </div>
                                <p></p>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="img" id="imagen">
                                            <img src="~/Content/pictures/pass.png" width="35" height="35">
                                        </span>
                                    </div>
                                    <input type="password" class="form-control text-box single-line" aria-label="Default" aria-describedby="imagen" id="confirmarContraseña" name="confirmarContraseña" placeholder="Confirmar Contraseña">
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" value="" class="custom-control-input" id="customCheck2">
                                    <label class="custom-control-label" for="customCheck2">
                                        Compartir mis cambios por correo para verificar si los cambios son realizados con su consentimiento
                                    </label>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <button type="submit" value="Submit" class="btn btn-light btn-block" style="background-color: black; color:#ED7D31">Guardar Cambios</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

