﻿@model Membresia_ASP.Models.miembro
@{
    ViewBag.Title = "Mi Cuenta";
    Layout = "~/Views/Shared/_Layout_Cuenta.cshtml";
}

<h1 class="mt-4 mb-3"></h1>
<img class="img-fluid rounded mb-4" src="~/Content/pictures/bienvenido1.png" alt="">

<div class="row">
    <!-- Sidebar Column -->
    <div class="col-lg-3 mb-4" style="background-color: #121111">
        <ul class="list-group list-group-flush">
            <li class="list-group-item" style="background-color: #121111;">
                <div class="rounded mx-auto d-block" alt="..." style="width: 100px; height: 100px;">
                    <a href="@Url.Action("Code", "Account")"><img class="card-img-top" src="~/Content/pictures/cineclub.png" alt=""></a>
                </div>
            </li>
            <li class="list-group-item" style="background-color: #121111;" href="logg.html">
                <a href="@Url.Action("Index", "Account")" class="btn btn-link btn-lg btn-block" role="button" aria-disabled="false" style="color: #121111">
                    <div class="input-group-prepend">
                        <span class="img" id="imagen">
                            <img src="~/Content/pictures/home.png" width="30" height="30">
                            <label style="color: #ED7D31">Mi Cuenta</label>
                        </span>
                    </div>
                </a>
            </li>
            <li class="list-group-item" style="background-color: #121111;" href="logg.html">
                <a href="@Url.Action("Edit", "Account")" class="btn btn-link btn-lg btn-block" role="button" aria-disabled="false" style="color: #121111">
                    <div class="input-group-prepend">
                        <span class="img" id="imagen">
                            <img src="~/Content/pictures/edit.png" width="30" height="35">
                            <label style="color: #ED7D31">Editar Perfil</label>
                        </span>
                    </div>
                </a>
            </li>
            <li class="list-group-item" style="background-color: #121111;" href="logg.html">
                <a href="@Url.Action("Subscriptions", "Account")" class="btn btn-link btn-lg btn-block" role="button" aria-disabled="false" style="color: #121111">
                    <div class="input-group-prepend">
                        <span class="img" id="imagen">
                            <img src="~/Content/pictures/card2.png" width="30" height="15">
                            <label style="color: #ED7D31">Suscripciones</label>
                        </span>
                    </div>
                </a>
            </li>
        </ul>
    </div>
    <!-- Content Column -->
    <div class="col-lg-9 mb-4" style="background-color: #F2F1F1">
        <h1 class="mt-4 mb-3"> Mi cuenta</h1>
        <div class="row" style="background-color: white;">
            <!-- Blog Entries Column -->
            <div class="col-md-6" style="background-color: #F2F1F1">
                <h1 class="mt-4 mb-3"></h1>
                <div class="card mb-4" style="background-color: white;border-color: white">
                    <h5 class="card-header" style="background-color: white">Perfil</h5>
                    <div class="card-body" style="background-color: white">
                        <p class="card-text" style="color: #4C4B4B">
                            <div class="row">
                                <div class="col-12">Nombre Completo</div>
                                <div class="col-12" style="color: #ED7D31">
                                    @Html.DisplayFor(model => model.nombre,
                            new { htmlAttributes = new { @id = "nombre" } })
                                    @Html.DisplayFor(model => model.apaterno,
                            new { htmlAttributes = new { @id = "apaterno" } })
                                    @Html.DisplayFor(model => model.amaterno,
                            new { htmlAttributes = new { @id = "amaterno" } })
                                </div>
                            </div>
                            
                        <p></p>
                        <p></p>
                        <div class="row">
                            <div class="col-12">Fecha de Nacimiento</div>
                            <div class="col-12" style="color:#ED7D31">@Html.DisplayFor(model => model.fecha_nacimiento,
                            new { htmlAttributes = new { @id = "fecha_nacimiento" } })</div>
                        </div>
                        <p></p>
                        <p></p>
                        <div class="row">
                            <div class="col-12">Género</div>
                            <div class="col-12" style="color:#ED7D31">
                                @Html.DisplayFor(model => model.genero,
                            new { htmlAttributes = new { @id = "genero" } })
                            </div>
                        </div>
                        <p></p>
                        <p></p>
                        <div class="row">
                            <div class="col-12">Correo</div>
                            <div class="col-12" style="color:#ED7D31">
                                @Html.DisplayFor(model => model.email,
                            new { htmlAttributes = new { @id = "email" } })
                            </div>
                        </div>
                        <p></p>
                        <p></p>
                        <div class="row">
                            <div class="col-12">Telefono</div>
                            <div class="col-12" style="color:#ED7D31">
                                @Html.DisplayFor(model => model.telefono,
                            new { htmlAttributes = new { @id = "telefono" } })
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-muted" style="background-color: white; text-align:center;position: center">
                        <a href="@Url.Action("Edit", "Account")" class="btn btn-light btn-block" style="background-color: black; color: #ED7D31">Editar Perfil</a>
                    </div>
                </div>
            </div>

            <!-- Sidebar Widgets Column -->
            <div class="col-md-6" style="background-color: #F2F1F1">
                <h1 class="mt-4 mb-3"></h1>
                <div class="card mb-4" style="background-color: white;border-color: white">
                    <h5 class="card-header" style="color: black; background-color: white">Paquete de Miembro</h5>
                    <div class="card-body" style="background-color: white">
                        <div class="img" style="position: center; text-align:center;">
                            <img src="@ViewBag.id_nivel_membresia_pic" width="135px" height="135px" style="position: center">
                        </div>
                        <p></p>
                        <p></p>
                        <div class="row">
                            <div class="col-12">Puntos Acumulados</div>
                            <div class="col-12" style="color:#ED7D31">
                                @Html.DisplayFor(model => model.puntos_acumulados,
                            new { htmlAttributes = new { @id = "puntos_acumulados" } })
                            </div>
                        </div>
                        <p></p>
                        <p></p>
                        <div class="row">
                            <div class="col-12">Número de Visitas</div>
                            <div class="col-12" style="color:#ED7D31">
                                ¡Has realizado
                                @Html.DisplayFor(model => model.visitas_mensuales,
                            new { htmlAttributes = new { @id = "visitas_mensuales" } })
                                visitas de las
                                @Html.DisplayFor(model => model.nivel_membresia.visitas_necesarias,
                            new { htmlAttributes = new { @id = "visitas_necesarias" } })
                                necesarias para subir de nivel!
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Categories Widget -->
                <div class="card my-4" style="background-color: white;border-color: white">
                    <h5 class="card-header" style="text-align:center; color: black; background-color: white;">Como Subir de Nivel</h5>
                    <div class="card-body" style="text-align:center; background-color: white">
                        <a href="@Url.Action("Subscriptions", "Account")" class="btn btn-light btn-block" style="background-color: black; color: #ED7D31">Suscripciones</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
