﻿@{
    ViewBag.Title = "Suscripciones";
    Layout = "~/Views/Shared/_Layout_Cuenta.cshtml";
}

<h1 class="mt-4 mb-3"></h1>
<!--<img class="img-fluid rounded mb-4" src="pictures/bienvenido1.png" alt="">-->
<div class="row">
    <div class="col-lg-3 mb-4" style="background-color: #121111">
        <ul class="list-group list-group-flush">
            <li class="list-group-item" style="background-color: #121111;">
                <div class="rounded mx-auto d-block" alt="..." style="width: 100px; height: 100px;">
                    <a href="@Url.Action("Code", "Account")"><img class="card-img-top" src="~/Content/pictures/cineclub.png" alt=""></a>
                </div>
            </li>
            <li class="list-group-item" style="background-color: #121111;" href="logg.html">
                <a href="@Url.Action("Index", "Account")" class="btn btn-link btn-lg btn-block" role="button" aria-disabled="false" style="color: #121111">
                    <div class="input-group-prepend">
                        <span class="img" id="imagen">
                            <img src="~/Content/pictures/home.png" width="30" height="30">
                            <label style="color: #ED7D31">Mi Cuenta</label>
                        </span>
                    </div>
                </a>
            </li>
            <li class="list-group-item" style="background-color: #121111;" href="logg.html">
                <a href="@Url.Action("Edit", "Account")" class="btn btn-link btn-lg btn-block" role="button" aria-disabled="false" style="color: #121111">
                    <div class="input-group-prepend">
                        <span class="img" id="imagen">
                            <img src="~/Content/pictures/edit.png" width="30" height="35">
                            <label style="color: #ED7D31">Editar Perfil</label>
                        </span>
                    </div>
                </a>
            </li>
            <li class="list-group-item" style="background-color: #121111;" href="logg.html">
                <a href="@Url.Action("Subscriptions", "Account")" class="btn btn-link btn-lg btn-block" role="button" aria-disabled="false" style="color: #121111">
                    <div class="input-group-prepend">
                        <span class="img" id="imagen">
                            <img src="~/Content/pictures/card2.png" width="30" height="15">
                            <label style="color: #ED7D31">Suscripciones</label>
                        </span>
                    </div>
                </a>
            </li>
        </ul>
    </div>
    <div class="col-lg-9 mb-4" style="background-color: #F2F1F1">
        <h1 class="mt-4 mb-3"> Suscripciones</h1>
        <div class="row" style="background-color: white;">
            <div class="col-md-6" style="background-color: #F2F1F1">
                <h1 class="mt-4 mb-3"></h1>
                <div class="card mb-4" style="background-color: white;border-color: white">
                    <h5 class="card-header" style="background-color: white">
                        <div class="rounded mx-auto d-block" alt="..." style="width: 200px; height: 200px;">
                            <img class="card-img-top" src="~/Content/pictures/Silver-Package-Graphics-Design.png" alt="">
                        </div>
                    </h5>
                    <div class="card-body" style="background-color: white">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                Para Subir de Nivel
                                <label id="fechanacimiento" style="color: #ED7D31"> Acumula 12 Visitas en un Semestre</label>
                            </li>
                            <li class="list-group-item">
                                Obtienes
                                <p><label id="fechanacimiento" style="color: #ED7D31"> 8% en Puntos</label></p>
                            </li>
                            <li class="list-group-item">
                                Mas...
                                <p><label id="fechanacimiento" style="color: #ED7D31"> Eventos Alternativos</label></p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6" style="background-color: #F2F1F1">
                <h1 class="mt-4 mb-3"></h1>
                <div class="card mb-4" style="background-color: white;border-color: white">
                    <h5 class="card-header" style="background-color: white">
                        <div class="rounded mx-auto d-block" alt="..." style="width: 200px; height: 200px;">
                            <img class="card-img-top" src="~/Content/pictures/Gold-Package-Graphics-Design.png" alt="">
                        </div>
                    </h5>
                    <div class="card-body" style="background-color: white">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                Para Subir de Nivel
                                <label id="fechanacimiento" style="color: #ED7D31"> Acumula 24 Visitas en un Semestre</label>
                            </li>
                            <li class="list-group-item">
                                Obtienes
                                <p><label id="fechanacimiento" style="color: #ED7D31"> 10% en Puntos</label></p>
                            </li>
                            <li class="list-group-item">
                                Mas...
                                <p><label id="fechanacimiento" style="color: #ED7D31">Preferencia en Estrenos y Eventos</label></p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-12" style="background-color: #F2F1F1">
                <div class="card-footer text-muted" style="background-color: white; text-align:center;position: center">
                    <a href="@Url.Action("BenefitsMember", "Account")" class="btn btn-light btn-block" style="background-color: black; color: #ED7D31">Conocer Mas Beneficios</a>
                </div>
            </div>
        </div>
    </div>
</div>
