﻿@{
    ViewBag.Title = "Beneficios";
    Layout = "~/Views/Shared/_Layout_Membresia.cshtml";
}

<div style="text-align:center; position:center;">
    <h1 class="my-4" style="text-align:center; color: #ED7D31; position:center;">BENEFICIOS</h1>
    <img src="~/Content/pictures/benefits.png" height="900px" style="text-align:center; position:center;">
</div>


<div style="text-align:center; position:center;">
    <img class="img-fluid rounded mb-4" src="~/Content/pictures/exclusive.png" height="200px" style="text-align:center; position:center;">
    <div>
        <a class="btn btn-lg btn-light btn-block" href="@Url.Action("Singup", "Home")" style="background-color: black; color: #ED7D31;border-color: black">Adquierela Ya!</a>
    </div>
</div>


