﻿@{
    Layout = "../Shared/_Layout_Membresia.cshtml";
}

<header>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style="background-color: black">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <!-- <li data-target="#carouselExampleIndicators" data-slide-to="2"></li> -->
        </ol>
        <div class="carousel-inner" role="listbox">
            <!-- Slide One - Set the background image for this slide in the line below -->
            <div class="carousel-item active" style="background-image: url(../../Content/pictures/Afiliate3.png); background-size: 65%; background-position: center;">
            </div>
            <!-- Slide Two - Set the background image for this slide in the line below -->
            <div class="carousel-item" style="background-image: url(../../Content/pictures/Beneficios2.png); background-size: 46%; background-position: center;">
            </div>
            <!-- Slide Three - Set the background image for this slide in the line below -->
            <!-- <div class="carousel-item" style="background-image: url('http://placehold.it/1900x1080')">
            </div> -->
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true" ;></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</header>

<div class="container">

    <h1 class="my-4" style="text-align: center;">Niveles de Membresia CineClub</h1>

    <!-- Marketing Icons Section -->
    <div class="row">
        <div class="col-lg-4 mb-4">
            <div class="card h-100">
                <h4 class="card-header" style="text-align: center; color: #B08857; background-color: black ">Bronce Package</h4>
                <div class="card-body" style="background-position: center; background-repeat: no-repeat; background-size: 80%; background-color: black">
                    <a href="#"><img class="card-img-top" src="~/Content/pictures/MemBronze.png" alt=""></a>
                </div>
                <div class="card-footer" style="background-color: black">
                    <a href="#" class="btn btn-light btn-lg btn-block" style="color: #ED7D31">Ver Mas...</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-4">
            <div class="card h-100">
                <h4 class="card-header" style="text-align: center; color: #B8BABC; background-color: black">Silver Package</h4>
                <div class="card-body" style="background-position: center; background-repeat: no-repeat; background-size: 80%; background-color: black">
                    <a href="#"><img class="card-img-top" src="~/Content/pictures/MemSilver.png" alt=""></a>
                </div>
                <div class="card-footer" style="background-color: black">
                    <a href="#" class="btn btn-light btn-lg btn-block" style="color: #ED7D31">Ver Mas...</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-4">
            <div class="card h-100">
                <h4 class="card-header" style="text-align: center; color: #D1A64D; background-color: black">Gold Package</h4>
                <div class="card-body" style="background-position: center; background-repeat: no-repeat; background-size: 80%; background-color: black">
                    <a href="#"><img class="card-img-top" src="~/Content/pictures/MemGold.png" alt=""></a>
                </div>
                <div class="card-footer" style="background-color: black">
                    <a href="#" class="btn btn-light btn-lg btn-block" style="color: #ED7D31">Ver Mas...</a>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
    <!-- Features Section -->
    <div class="row">
        <div class="col-lg-6">
            <h2>¿Aun No Tienes Tu Membresia CineClub?</h2>
            <p></p>
            <p></p>
            <p><strong>Que esperas para adquirirla y poder disfrutar de:</strong></p>
            <p></p>
            <ul>
                <li>Descuentos en Tus Compras</li>
                <li>Puntos Acumulabes a Cangear por Productos</li>
                <li>Promociones Exclusivas solo Para Ti</li>
                <li>Regalos Increibles</li>
                <li>Oportunidades de Mejorar tus Beneficios con los Niveles</li>
            </ul>
            <p>En CineClub te premiamos por tu prefencia con nosotros dandote la oportunidad de disfrutar a un mas tu experiencia CineClub. Donde te premiamos por tus visitas y por todas tu compras realizadas</p>
        </div>
        <div class="col-lg-6">
            <img class="img-fluid rounded" src="~/Content/pictures/MemBronze2.png" alt="">
        </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Call to Action Section -->
    <div class="row mb-4">
        <div class="col-md-8">
            <p>Te ofrecemos la Garantia de una Mejor Experiencia en los Distintos Departamentos, Que estas esperando, que tu eres nuestro invitado mas especial</p>
        </div>
        <div class="col-md-4">
            <a class="btn btn-lg btn-light btn-block" href="@Url.Action("Signup", "Home")" style="background-color: black; color: #ED7D31">Adquierela Ya!</a>
        </div>
    </div>

</div>


