﻿@model Membresia_ASP.Models.miembro
@{
    Layout = "../Shared/_Layout_Registro.cshtml";
}
@using (Html.BeginForm("Signup", "Home", FormMethod.Post, new { id = "FormularioMembresia" }))
{
    @Html.AntiForgeryToken()
    @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @type="hidden",@class = "form-control"} })
    @Html.EditorFor(model => model.apaterno, new { htmlAttributes = new { @type="hidden",@class = "form-control"} })
    @Html.EditorFor(model => model.amaterno, new { htmlAttributes = new { @type="hidden",@class = "form-control"} })
    @Html.EditorFor(model => model.genero, new { htmlAttributes = new { @type="hidden",@class = "form-control"} })
    @Html.EditorFor(model => model.fecha_nacimiento, new { htmlAttributes = new { @type="hidden",@class = "form-control" } })
    @Html.EditorFor(model => model.telefono, new { htmlAttributes = new { @type="hidden",@class = "form-control"} })
    @Html.EditorFor(model => model.email, new { htmlAttributes = new { @type="hidden",@class = "form-control"} })
    @Html.EditorFor(model => model.contraseña, new { htmlAttributes = new { @type="hidden",@class = "form-control"} })
}
<div class="container">

    <h1 class="mt-4 mb-3" style="color: #ED7D31;"></h1>
    <h1 class="mt-4 mb-3" style="color: #ED7D31; text-align: center;">
        Forma de Pago
    </h1>
    <p></p>
    <p></p>
    <p></p>
    <p></p>

    <div class="row">
        <div class="col-lg-4 col-sm-6 portfolio-item">
            <div class="card h-100">

                <div class="card-body">
                    <div class="rounded mx-auto d-block" alt="..." style="width: 150px; height: 150px">
                        <img class="card-img-top" src="~/Content/pictures/MemBronze2.png" alt="">
                    </div>
                    <h4 class="card-title">Pago Membrecia Bonze Package $49</h4>
                    <p class="card-text">Descuento del 5% en tus Compras Atencion Rapida y Sin Espera</p>
                </div>
            </div>
        </div>
        
        <div class="col-lg-8 col-sm-6">
            <div class="card text-center">
                <span class="nav-item nav-link">
                    <img src="~/Content/pictures/visa.png" width="55px" height="35px">
                    <img src="~/Content/pictures/masca.png" width="55px" height="35px">
                    <img src="~/Content/pictures/ameexx.png" width="55px" height="35px">
                    <img src="~/Content/pictures/visael.png" width="55px" height="35px">
                </span>
                @using (Html.BeginForm(null, "Home", FormMethod.Post, new { id = "FormularioBancario" }))
                {
                    @Html.AntiForgeryToken()
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="controls">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="img" id="imagen">
                                            <img src="~/Content/pictures/user.png" width="35" height="35">
                                        </span>
                                    </div>
                                    <input id="NombreCompleto" name="NombreCompleto" placeholder="Nombre Completo" type="text" class="form-control" aria-label="Default" aria-describedby="imagen" style="text-align:center;">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="controls">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="img" id="imagen">                                            
                                            <img src="~/Content/pictures/card.png" width="55" height="35">
                                        </span>
                                    </div>
                                    <input id="Sucuenta" name="Sucuenta" placeholder="Numero de Tarjeta" type="text" class="form-control" aria-label="Default" aria-describedby="imagen" style="text-align:center;">
                                </div>
                            </div>
                        </div>
                    </div>
                    <p></p>
                    <p></p>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="controls">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="img" id="imagen">
                                            <img src="~/Content/pictures/Expiracion.png" width="35" height="35">
                                        </span>
                                    </div>
                                    <input id='fechaExp' name="fechaExp" placeholder="Vencimiento"  type='text' class="form-control"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="controls">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="img" id="imagen">
                                            <img src="~/Content/pictures/cvv.png" width="55" height="35">
                                        </span>
                                    </div>
                                    <input id="pin" name="pin" placeholder="cvv - Codigo de Seguridad" type="text" class="form-control" aria-label="Default" aria-describedby="imagen" style="text-align:center;">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required>
                                    <label class="form-check-label" for="invalidCheck2">
                                        Estoy de acuerdo con la recompilacion de mis datos financieros por parte de CineClub para su uso en los propositos previamente expresados, tal como se encuentra detallado en la politica de privacidad de CineClub
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                }
            </div>
        </div>
    </div>
</div>

<!-- Pagination -->
<ul class="pagination justify-content-center mb-4">
    <li class="page-item">
        <a class="page-link" id="btnAtras" style="background-color: #ED7D31; color: black;">&larr; Atras</a>
    </li>
    <li class="page-item">
        <a class="page-link" id="CheckTransaction" style="background-color: #ED7D31; color: black;">Registrar Membresía</a>
    </li>
</ul>

<!--Información del Modal-->
<!--    id's
        modal="modal-info"
        title="modal-title"
        btn  ="modal-aceptar"
-->
<div class="modal fade" id="modal-info" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-title">¡Felicidades!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modal-body">
                <div class="row">
                    <div class="col-md-2" id="colId"></div>
                    <div class="col-md-10" id="colNombre"></div>
                </div>
                <p></p>
                <div class="row">
                    <img src="~/Content/pictures/registro_exitoso.jpg" 
                         height="400" width="400" style="display: block;margin-left: auto;margin-right: auto;"/>
                </div>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Salir</button>
                <a href="@Url.Action("Index","Account")" class="btn btn-primary" id="modal-aceptar">Acceder a tu perfil</a>

            </div>
        </div>
    </div>
</div>

