﻿@model Membresia_ASP.Models.miembro
@{
    ViewBag.Title = "blank";
    Layout = "../Shared/_Layout_Registro.cshtml";
}

<h1 class="mt-4 mb-3" style="color: #ED7D31; text-align: center;">Registro</h1>
@using (Html.BeginForm("Payment","Home",FormMethod.Post, new { id = "FormularioRegistro" }))
{
    @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <!-- Page Content -->
    <div class="card mb-4">
        <div class="card-footer text-muted" style="text-align: center;">
            Datos Personales
        </div>
        <p></p>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-6">

                    <div class="controls">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="img" id="imagen">
                                    <img src="~/Content/pictures/user.png" width="35" height="35">
                                </span>
                            </div>
                            @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nombre"} })
                            <div class="col-lg-12">@Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })</div>
                        </div>
                        
                    </div>

                </div>
                <div class="col-lg-6">
                    <div class="controls">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="img" id="imagen">
                                    <img src="~/Content/pictures/user.png" width="35" height="35">
                                </span>
                            </div>
                            @Html.EditorFor(model => model.apaterno, new { htmlAttributes = new { @class = "form-control", @placeholder = "Apellido Paterno" } })

                            @Html.EditorFor(model => model.amaterno, new { htmlAttributes = new { @class = "form-control", @placeholder = "Apellido Materno" } })

                            <div class="col-12">
                                @Html.ValidationMessageFor(model => model.apaterno, "", new { @class = "text-danger" })
                                @Html.ValidationMessageFor(model => model.amaterno, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <p></p>
            <p></p>
            <p></p>
            <div class="row">
                <div class="col-lg-6">
                    <div class="controls">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="img" id="imagen">
                                    <img src="~/Content/pictures/gener.png" width="35" height="35">
                                </span>
                            </div>
                            
                            <select class="custom-select" id="genero" name="genero">
                                <option value="No especifico" selected>Genero</option>
                                <option value="Masculino">Masculino</option>
                                <option value="Femenino">Femenino</option>
                            </select>
                            <div class="col-12">
                                @Html.ValidationMessageFor(model => model.genero, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="controls">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="img" id="imagen">
                                    <img src="~/Content/pictures/cumple.png" width="35" height="35">
                                </span>
                            </div>
                            <input type="text" class="form-control datepicker" placeholder="Fecha de Nacimiento" name="fecha_nacimiento" data-provide="datepicker" value="" />
                            <div class="col-12">
                                @Html.ValidationMessageFor(model => model.fecha_nacimiento, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="card mb-4">
        <div class="card-footer text-muted" style="text-align: center;">
            Informacion de Contacto
        </div>
        <p></p>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-6">
                    <div class="controls">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="img" id="imagen">
                                    <img src="~/Content/pictures/telfono.png" width="35" height="35">
                                </span>
                            </div>
                            @Html.EditorFor(model => model.telefono, new { htmlAttributes = new { @class = "form-control", @placeholder="Teléfono" } })
                            <div class="col-12">@Html.ValidationMessageFor(model => model.telefono, "", new { @class = "text-danger" })</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="controls">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="img" id="imagen">
                                    <img src="~/Content/pictures/gmail.png" width="45" height="35">
                                </span>
                            </div>
                            @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control", @placeholder ="Correo" } })
                            <div class="col-12">@Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })</div>
                        </div>
                    </div>
                </div>
            </div>
            <p></p>
            <p></p>
            <p></p>
            <div class="row">
                <div class="col-lg-6">
                    <div class="controls">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="img" id="imagen">
                                    <img src="~/Content/pictures/pass.png" width="35" height="35">
                                </span>
                            </div>
                            @Html.EditorFor(model => model.contraseña, new { htmlAttributes = new { @type="password", @class = "form-control", @placeholder= "Contraseña" } })
                            <div class="col-12">@Html.ValidationMessageFor(model => model.contraseña, "", new { @class = "text-danger" })</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="controls">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="img" id="imagen">
                                    <img src="~/Content/pictures/pass.png" width="35" height="35">
                                </span>
                            </div>
                            <input type="password" class="form-control text-box single-line" aria-label="Default" aria-describedby="imagen" id="confirmarContraseña" name="confirmarContraseña" placeholder="Confirmar Contraseña">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-4">

        <div class="card-body">
            <div class="row">
                <div class="col-lg-6">
                    <div class="controls">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" value="" class="custom-control-input" id="TerminosCondiciones">
                                    <label class="custom-control-label" for="TerminosCondiciones">
                                        He leido y acepto los
                                        <a href="#">Terminos y Condiciones</a>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="controls">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" value="" class="custom-control-input" id="customCheck2">
                                    <label class="custom-control-label" for="customCheck2">
                                        No deseo recibir informacion comercial sobre beneficios, promociones, premiers y descuentos exclusivos de CineClub
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <p></p>
            <p></p>
            <p></p>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <a id="btnSubmit" disabled="disabled" class="btn btn-default">Siguiente &rarr;</a>
        </div>
    </div>
}