﻿@{
    ViewBag.Title = "Mi Cuenta";
}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Memebresia - CineClub</title>
    <!-- Bootstrap core CSS -->

    <link href="~/Content/bootstrap.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="~/Content/modern-business.css" rel="stylesheet">

    <link href="~/Content/bootstrap-datepicker.css" rel="stylesheet" />
</head>
<body style="background-color: black">
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark fixed-top" style="background-color: black">
        <div class="container">
            <a class="navbar-brand" href="@Url.Action("Index", "Home")">
                <img src="~/Content/pictures/LogoB.png" width="75" height="55" />
            </a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: #ED7D31;">
                            <span class="img" id="imagen">
                                <img src="~/Content/pictures/cineclub.png" width="30" height="30"> Perfil
                            </span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog" style="background-color: #121111">
                            <form class="px-4 py-3" style="background-color: #121111 ">
                                <a class="nav-link" href="@Url.Action("Index", "Account")" style="color: #ED7D31;">Mi Cuenta</a>
                                <a class="nav-link" href="@Url.Action("Index", "Home")" style="color: #ED7D31;">Cerrar Sesion</a>
                            </form>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        @RenderBody()
    </div>
    <footer class="py-5 bg-black" style="background: black">
        <div class="container" style="background-color: black">
            <p class="m-0 text-center" style="color: #ED7D31">Copyright &copy; CineClub Site 2018</p>
        </div>
        <!-- /.container -->
    </footer>
</body>
</html>
<script src="~/Scripts/layout/jquery.min.js"></script>
<script src="~/Scripts/layout/bootstrap.bundle.min.js"></script>
<script src="~/Scripts/bootstrap-datepicker.js"></script>
<script src="~/Scripts/carpetas_personales/_layout_Registro.js"></script>
