﻿@{
    ViewBag.Title = "Registro de Membresía";
}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Memebresia - CineClub</title>
    <!-- Bootstrap core CSS -->

    <link href="~/Content/bootstrap.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="~/Content/modern-business.css" rel="stylesheet">

    <link href="~/Content/bootstrap-datepicker.css" rel="stylesheet"/>
</head>
<body>
    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark fixed-top" style="background-color: black">
        <div class="container">
            <a class="navbar-brand">
                <!-- href="index.html" -->
                <img src="~/Content/pictures/Afiliacion Logo.png" width="275px" height="55px">
            </a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <a class="navbar-brand" href="@Url.Action("Index", "Home")">
                        <img src="~/Content/pictures/LogoB.png" width="75" height="55" />
                    </a>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <!-- Page Heading/Breadcrumbs -->
        <h1 class="mt-4 mb-3" style="color: #ED7D31;"></h1>

        <ol class="breadcrumb" style="background-color: black; color: #ED7D31;">
            <li class="breadcrumb-item">
                <a href="@Url.Action("Index", "Home")" style="color: #ED7D31;">Home</a>
            </li>
            <li class="breadcrumb-item active" style="color: #ED7D31;">Registro</li>
        </ol>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        @RenderBody()

    </div>


    <!-- Footer -->
    <footer class="py-5 bg-black" style="background: black">
        <div class="container" style="background-color: black">
            <p class="m-0 text-center" style="color: #ED7D31">Copyright &copy; CineClub Site 2018</p>
        </div>
    </footer>


</body>

</html>
<script src="~/Scripts/layout/jquery.min.js"></script>
<script src="~/Scripts/layout/bootstrap.bundle.min.js"></script>
<script src="~/Scripts/bootstrap-datepicker.js"></script>
<script src="~/Scripts/carpetas_personales/_layout_Registro.js"></script>
<script src="~/Scripts/carpetas_personales/_layout_Pago.js"></script>
