﻿@{
    ViewBag.Title = "Home Page";
}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Memebresia - CineClub</title>
    <!-- Bootstrap core CSS -->

    <link href="~/Content/bootstrap.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="~/Content/modern-business.css" rel="stylesheet">
</head>
<body style="background-color: @ViewBag.backgroundColor">
    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark fixed-top" style="background-color: black">
        <div class="container">
            <a class="navbar-brand" href="@Url.Action("Index", "Home")">
                <img src="~/Content/pictures/LogoB.png" width="75" height="55" />
            </a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Signup", "Home")" style="color: #ED7D31;">Adquierela Ya!</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: #ED7D31;">Login</a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog" style="background-color: black">
                            <form id="frmLogin" method="post" class="px-4 py-3" style="background-color: black;">
                                @Html.AntiForgeryToken()
                                <div class="rounded mx-auto d-block" alt="..." style="width: 150px; height: 150px">
                                    <img class="card-img-top" src="~/Content/pictures/ID.png" alt="">
                                </div>
                                <div class="form-group" style="width: 250px">
                                    <input type="text" class="form-control" id="idLogin" name="idLogin" placeholder="ID">
                                </div>
                                <div class="form-group" style="width: 250px">
                                    <input type="password" class="form-control" id="passwordLogin" name="passwordLogin" placeholder="Password">
                                </div>
                                <div class="dropdown-divider"></div>
                                <a  id="btnLogin" class="btn btn-link btn-lg btn-block" style="background-color: #FFFFFF; color: #ED7D31">
                                    Sign in
                                </a>
                            </form>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    @RenderBody()

    <footer class="py-5 bg-black" style="background: black">
        <div class="container" style="background-color: black">
            <p class="m-0 text-center" style="color: #ED7D31">Copyright &copy; CineClub Site 2018</p>
        </div>
        <!-- /.container -->
    </footer>
    <!--Información del Modal-->
    <!--    id's
            modal="modal-info"
            title="modal-title"
            body ="modal-body"
            btn  ="modal-aceptar"
    -->
    <div class="modal fade" id="modal-info" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal-title">¡Oops!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Salir</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
<script src="~/Scripts/layout/jquery.min.js"></script>
<script src="~/Scripts/layout/bootstrap.bundle.min.js"></script>
<script>
    var datos;
    $("#btnLogin").click(function () {
        datos = $("#frmLogin").serialize();
        console.log(datos);
        $.post("/Home/VerificarLogin", datos, function (respuesta) {
            if (respuesta != "OK") {
                $("#modal-body").html(respuesta);
                $('#modal-info').modal();
                return;
            }
            window.location.href =  '@Url.Action("Index", "Account")';
        });
    });
</script>
